<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">

    <h1>Invoice</h1>

    <div>{{typeVariable | thirdPartyPersonType}}
        <select formControlName="thirdPartyPersonId" >
            <option *ngFor="let tpp of getTppByType(invoice.type)"  selected>{{tpp.name}}</option>
        </select>
    </div>
    <br>
    Date: <input type="date" formControlName="date" value="{{invoice.date | date:'yyyy-MM-dd'}}">

    Number: <input formControlName="number" value="{{invoice.number}}">
    <br>

    <button class="btn btn-default" type="button" (click)="addItem()">Add Row</button>

    <div formArrayName="positions">
        <div *ngFor="let item of invoicePositions.controls; let i = index;">
            <div [formGroupName]="i">
                <ng-container formGroupName="product">
                    <input formControlName="name" placeholder="prod name" required>
                    <input formControlName="price" placeholder="prod quantity" required>
                </ng-container>
                <input formControlName="quantity" placeholder="prod quantity" [required]>
                <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Remove Row</button>
            </div>
        </div>
    </div>

    <!-- <div> Vat: {{vatType }}</div>
    <div> invoiceTotal: {{calculateTotal()}}</div>

    <input type="number" formControlName="value" value="{{calculateTotal()+ (calculateTotal() * 0.19)}}">{{calculateTotal()+ (calculateTotal() * 0.19)}}
    <input type="number" formControlName="vatValue" [value]="(calculateTotal() * 0.19)">{{(calculateTotal() * 0.19)}} -->
    <br>
    <button type="submit" class="btn btn-info">Save</button>

    <button (click)="go()">go</button>

</form>