<!-- <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()"> -->

<button (click)="gotoInvoiceEdit(invoice.id)" class="btn btn-info">Edit</button>
<button style="float: right;" (click)="gotoInvoiceList()" class="btn btn-info">Close</button>


<body>
	<div class="invoice-box">
		<table>
			<tr class="top">
				<td colspan="2">
					<table>
						<tr>
							<td style="text-align: left;">
								{{invoice.type | thirdPartyPersonType}} :
								{{getThirdPartyPersonNameById(invoice.thirdPartyPersonId)}}
							</td>
							<td class="title" style="text-align: center;">
								INVOICE
							</td>
							<td class="details">
								Invoice #: {{invoice.number}}<br />
								Created: {{invoice.date | date:'yyyy-MM-dd'}}<br />
								Status: {{invoice.status | invoiceStatus}}
							</td>
						</tr>
					</table>
				</td>
			</tr>

			<tr class="information">
				<td colspan="2">
					<table>
						<tr>
							<td style="text-align: left;">
								Company address <br />
								information
							</td>

							<td>
								John Smith<br />
								john@example.com
							</td>
						</tr>
					</table>
				</td>
			</tr>

			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>
							Product
						</th>

						<th>
							Price
						</th>

						<th>
							Quantity
						</th>


					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let item of invoice.positions; let i = index;">
						<td>
							<!-- <input formControlName="name" placeholder="prod name" required> -->
							{{item.product.name}}
						</td>
						<td style="text-align: center;">
							<!-- <input formControlName="price" placeholder="prod price" required> -->
							{{item.product.price | number:'1.2-2'}}

						</td>

						<td>
							<!-- <input formControlName="quantity" placeholder="prod quantity" [required]> -->
							{{item.quantity | number:'1.2-2'}}

						</td>

					</tr>
					<!-- <tr>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<button id="add" class="btn btn-default" type="button" (click)="addItem()">+</button>
							</td>
						</tr> -->
					<br>
				</tbody>
			</table>
			<h2 style="text-align: right;">Total VAT of invoice: {{invoice.vatValue | number:'1.2-2'}} <br>
				Total amount of invoice: <b>{{invoice.value | number:'1.2-2'}} </b></h2>
		</table>
	</div>
</body>

<!-- </form> -->