<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <!-- <li class="list-inline-item">
              <a routerLink="tpp/GetAll" class="btn btn-info">ThirdPartyPersons List</a>
                </li>
                <li class="list-inline-item">
              <a routerLink="tpp/Create" class="btn btn-info">Add ThirdPartyPerson</a>
                 </li>  -->
                <div>
                  <a routerLink="" class="btn btn-info">Home</a>
                  <a routerLink="tpperson" class="btn btn-info">ThirdPartyPersons</a>

                  <a routerLink="invs" class="btn btn-info">Invoices</a>

                  <a routerLink="prdt" class="btn btn-info">Products</a>
                  <a routerLink="about" class="btn btn-info">About</a>
                </div>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

