<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h1 class="card-title text-center text-white py-3">{{ title }}</h1>
          <ul class="text-center list-inline py-3">
            <div>
              <a routerLink="" class="btn btn-info">Home</a>
              <a routerLink="tpperson" class="btn btn-info">ThirdPartyPersons</a>
              <a routerLink="invs" class="btn btn-info">Invoices</a>
              <a routerLink="prdt" class="btn btn-info">Products</a>
              <a routerLink="blnc" class="btn btn-info">Balance</a>
              <a routerLink="about" class="btn btn-info">About</a>
            </div>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>