<div class="card my-5">
  <div class="card-body">

    <button (click)="displayAllInvoices()" class="btn btn-info">All Invoices</button>
    <button (click)="displaySaleInvoices()" class="btn btn-info">Sale Invoices</button>
    <button (click)="displayPurchaseInvoices()" class="btn btn-info">Purchase Invoices</button>
    

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">

        

        <a class="btn btn-info" mat-button [matMenuTriggerFor]="menu">Add</a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="Create/1">Sale Invoice</button>
          <button mat-menu-item routerLink="Create/2">Purchase Invoice</button>
        </mat-menu>

        <tr>
          <th scope="col">ID</th>
          <th scope="col">Number</th>
          <th scope="col">Date</th>
          <th scope="col">Value</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>{{invoice.id}}</td>
          <td>{{invoice.number}}</td>
          <td>{{invoice.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{invoice.value | number : '1.2-2'}}</td>
          <td>{{invoice.status | invoiceStatus}}</td>
          <td><a routerLink="View/{{invoice.id}}" class="btn btn-info">View</a>
            <a (click)="deleteClick(invoice.id)" class="btn btn-info" style="color: white" >Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

