<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <a class="btn btn-info" mat-button [matMenuTriggerFor]="menu">Add</a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="Create/1">Sales Invoice</button>
          <button mat-menu-item routerLink="Create/2">Purchase Invoice</button>
        </mat-menu>

        <tr>
          <th scope="col">ID</th>
          <th scope="col">Number</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>{{invoice.id}}</td>
          <td>{{invoice.number}}</td>
          <td>{{invoice.date | date: 'dd/MM/yyyy'}}</td>
          <td><a routerLink="View/{{invoice.id}}" class="btn btn-info">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

