  .mainbox {
    width: 100%;
    border: 2px solid #138164;
    padding: 50px;
  }

  .invoice{
      text-align: center;
  }

  .ThirdPartyPerson{
    margin-bottom: 0px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }