<button (click)="clearFilters()">Clean all filters</button>

<div>Filter by range:
  <input type="date" name="start" #start value="dateNow">
  <input type="date" #end name="end" value="null">
</div>
<br>
<br>
<div>Filter by Third Party Person
  <!-- <select >
    <option value="null" selected>-Select a type-</option>
    <option *ngFor="let type of tppType" [value]="type">{{type | thirdPartyPersonType}} </option>
  </select> -->

  <select name="my-select" [(ngModel)]="selected" (change)="getTTPByType($event.target.value)">
    <option [value]="item" *ngFor="let item of tppType">
      {{item | thirdPartyPersonType}}
    </option>
  </select>

  <select [(ngModel)]="selected" (change)="selectedTPPId($event)">
    <option value="null" selected>-Select name-</option>
    <option *ngFor="let tpp of tppByType"  [value]="tpp.id">{{tpp.name}} </option>
  </select>
</div>
<br>

<button (click)="generateBalance(start.value, end.value, selectedValue)" class="btn btn-info" style="float: right;">Generate
  Balance</button>
<h1>Turnover (total value of the sales): {{turnover | number: '.2'}} $</h1>
<h1>Total value of the purchased goods: {{purchases | number: '.2'}} $</h1>
<h1 *ngIf="vatTotalValue > 0 ;else other_type">VAT:{{2 | vatType}} = {{vatTotalValue | number: '.2'}} $</h1>

<ng-template #other_type>VAT:{{3 | vatType}} = {{vatTotalValue | number: '.2'}} $</ng-template>

<!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator> -->